<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 appPersoDirective [f]="foyer" class="m-0 font-weight-bold"></h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table appDeleteTableDirective [f]="foyer"   class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

        <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>capaciteBloc</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let b of foyer.blocs">
          <td>{{b.idBloc}}</td>
          <td>{{b.nomBloc}}</td>
          <td>{{b.capaciteBloc}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
