
<body>
<br><br><br><br><br><br><br><br><br><br><br><br>
<section>

  <app-cartchambre (detailsEmitterSimple)="afficherDetailsChambreSimple()"
                   (detailsEmitterDouble)="afficherDetailsChambreDouble()"
                   (detailsEmitterTriple)="afficherDetailsChambreTriple()"
  ></app-cartchambre>

























  <!--
   <div class="container">
     <section class="row">

      <div class="col-md-4" *ngFor="let chambre of chambres">
        <div *ngIf="chambre.typeC=='SIMPLE'">

          <div class="card">
            <img [src]="getImagePath(chambre.typeC)" class="card-img-top" alt="Image de la chambre">
            <div class="card-body">
              <h5 class="card-title">Type de chambre: {{ chambre.typeC }}</h5>
              <p class="card-text">Description ou autres informations sur la chambre.</p>
              <button class="btn btn-primary">Consulter</button>
            </div>
          </div>

        </div>
        <div *ngIf="chambre.typeC=='DOUBLE'">

          <div class="card">
            <img [src]="getImagePath(chambre.typeC)" class="card-img-top" alt="Image de la chambre">
            <div class="card-body">
              <h5 class="card-title">Type de chambre: {{ chambre.typeC }}</h5>
              <p class="card-text">Description ou autres informations sur la chambre.</p>
              <button class="btn btn-primary">Consulter</button>
            </div>
          </div>

        </div>
        <div *ngIf="chambre.typeC=='TRIPLE'">

          <div class="card">
            <img [src]="getImagePath(chambre.typeC)" class="card-img-top" alt="Image de la chambre">
            <div class="card-body">
              <h5 class="card-title">Type de chambre: {{ chambre.typeC }}</h5>
              <p class="card-text">Description ou autres informations sur la chambre.</p>
              <button class="btn btn-primary">Consulter</button>
            </div>
          </div>

        </div>
      </div>


    </section>
  </div>
  -->




















  <br><br><br><br><br><br><br><br><br><br><br><br>



</section>

</body>

