

<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Table de resto</h1>
  <br>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Table de resto
      </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

          <thead>
          <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>description</th>
            <th>tel</th>
            <th>#</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let r of resto;let index = index">
            <td>{{r.idResto}}</td>
            <td>{{r.nomResto}}</td>
            <td>{{r.descriptionResto}}</td>
            <td>{{r.telResto}}</td>
            <td>
              <button (click)="goDown()" class="btn btn-warning" routerLink="modifier/{{r.idResto}}">Edit</button>
              <button class="btn btn-danger ml-4" (click)="deleteR(index,r.idResto)">Delete</button>

             <button (click)="sendDataToChild(r)" routerLink="Details/{{r.idResto}}" class="btn btn-info ml-4" >Details</button>

            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>

</div>
