
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/HeroBiz/assets/img/logo.png" alt=""> -->
        <h1><a  class="logo d-flex align-items-end scrollto me-auto me-lg-0" style="margin-left: 40px;">
          <app-loginname
            [etudiantLogin]="etudiant"

          >


          </app-loginname>





        </a><span></span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>

          <li class="nav-link scrollto"><a href="#"><span>Home</span></a></li>

          <li><a class="nav-link scrollto" href="/showuniversite">Universite</a></li>
          <li><a class="nav-link scrollto" href="/foyer">Foyer</a></li>
          <li><a class="nav-link scrollto" routerLink="/afficherchambres">Chambres</a></li>

          </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav><!-- .navbar -->
<div *ngIf="id_logout!=null">
  <a class="btn-getstarted scrollto"   (click)="logout()" >logout</a>
</div>


      <app-updateprofil


        (detailsEmitter)="redirect($event)"
      >


      </app-updateprofil>

    </div>
  </header><!-- End Header -->
