
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">

          <div class="d-flex justify-content-between align-items-center">
            <h2>Blog</h2>
            <ol>
              <li><a href="index.html">Home</a></li>
              <li>Blog</li>
            </ol>
          </div>

        </div>
      </div><!-- End Breadcrumbs -->

      <!-- ======= Blog Section ======= -->
      <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

          <div class="row g-5">

            <div class="col-lg-8">

              <div  class="row gy-4 posts-list">

                <div *ngFor="let chambre of chambrepage?.content" class="col-lg-6">
                  <article class="d-flex flex-column">

                    <div class="post-img">
                      <img src="assets/chambre1.jpg" alt="" class="img-fluid">
                    </div>

                    <h2 class="title">
                      <a href="blog-details.html">{{chambre.numeroChambre }}</a>
                    </h2>

                    <div class="meta-top">
                      <ul>
                        <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">{{chambre.numR}}</a></li>
                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html">{{chambre.blocChambre.nomBloc}}</a></li>
                        <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">{{chambre.typeC}}</a></li>
                      </ul>
                    </div>

<br>
                    <div class="read-more mt-auto align-self-end">
                      <a (click)="reserver(chambre.idChambre)">Reserver</a>
                    </div>

                  </article>
                </div><!-- End post list item -->


              </div><!-- End blog posts list -->

              <div *ngIf="chambrepage?.totalPages" class="blog-pagination">
                <ul class="justify-content-center">
                  <li class="page-item"><a class="page-link" (click)="previousPage()"><</a></li>
                  <li class="page-item" *ngFor='let i of counter(); let pageNumber = index'>
                    <a class="page-link" [ngStyle]="{ 'color': chambrepage.number === pageNumber ? '#1E90FF' : null}" (click)="GetPage(pageNumber)">{{pageNumber + 1}}</a>
                  </li>
                  <li class="page-item"><a class="page-link" (click)="nextPage()">></a></li>
                </ul>
              </div><!-- End blog pagination -->


            </div>

          </div>

        </div>
      </section><!-- End Blog Section -->
